@model RiceAgentWebsite.Models.CART

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CART</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.PRODUCT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.PRODUCT_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
