@model IEnumerable<RiceAgentWebsite.Models.CART>
@using RiceAgentWebsite.Controllers;

@{
    ViewBag.Title = "MyCArt";
    var total = 0;
    var shipping = 0;
    RiceAgentWebsite.Models.CUSTOMER customer = ViewData["CUSTOMER"] as RiceAgentWebsite.Models.CUSTOMER;
}

<div class="container">
    <div class="row">
        @if (Model != null)
        {
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Delete</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@Html.DisplayFor(modelItem => item.PRODUCT.IMG_PATH)" style="width: 72px; height: 72px;"> </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#"> @Html.DisplayFor(modelItem => item.PRODUCT.PRODUCT_NAME)</a></h4>
                                            <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.QUANTITY)
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>$@Html.DisplayFor(modelItem => item.PRODUCT.PRICE)</strong></td>
                                <td class="col-sm-1 col-md-1 text-center">
                                    <strong>
                                        @{
                                            var result = item.QUANTITY * item.PRODUCT.PRICE; // Calculate the price
                                            @result
                                        }
                                    </strong>
                                    @{total = total + Convert.ToInt32(result);}
                                </td>
                                <td class="col-sm-1 col-md-1">
                                    <button type="button" class="btn btn-danger">
                                        @Html.ActionLink(".", "Delete", "CARTs", new { username = item.USERNAME.ToString(), productId= item.PRODUCTID }, new { @class = "glyphicon glyphicon-remove" })
                                    </button>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Subtotal</h5></td>
                            <td class="text-right">
                                <h5>
                                    <strong>
                                        @total VND
                                    </strong>
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Estimated shipping</h5></td>
                            <td class="text-right"><h5><strong>@shipping</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right"><h3><strong>@{ var final = shipping + total; @final}</strong></h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> @Html.ActionLink("Continue Shopping", "Index", "Home")
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#checkout"> Next <span class="glyphicon glyphicon-play"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade product_view" id="checkout">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 product_img">
                                </div>
                                <div class="col-md-6 product_content">
                                   

                                    <div class="row">
                                        <!-- end col -->
                                        <div class="col-md-4 col-sm-12">
                                            Địa chỉ:
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            @customer.LOCATION
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <div class="row">

                                    </div>
                                    <div class="btn-ground">
                                        
                                        <button type="button" class="btn btn-primary">
                                           <span class="glyphicon glyphicon-shopping-cart"></span> @Html.ActionLink("Confirm buying", "Buying", "Home", new {username= Session["UserName"] },new {@class= "text-dark" })
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>